.App {
  text-align: center;
}

#welcomeText{
  margin-bottom: 50px;
  margin-top: 20px;
  color: rgb(110, 107, 107);
}

.customPage{
  padding: .45rem .55rem;
  max-width: 50px;
}

.pagination{
  margin-top: 35px;
  margin-bottom: 35px;
}