.App {
  text-align: center;
}
html{
  background-color: rgb(232, 244, 252);
}

#welcomeText{
  margin-bottom: 50px;
  margin-top: 20px;
  color: rgb(110, 107, 107);
}

.customPage{
  padding: .45rem .55rem;
  max-width: 50px;
}

.pagination{
  margin-top: 35px;
  margin-bottom: 35px;
  padding-bottom: 35px;
}

.membersContainer{
  padding-top: 20px;
  padding-bottom: 20px;
}